html {
    height: 100%;
}

body {
    font-size: 24px;
    height: 100%;
    margin: 1%;
    padding: 1%;
}

main {
    height: 100%;
}

header {
    background-color: #B2B2B2;
    background-image: url(../images/flywheel.jpg);
    background-size: cover;
    padding: 1%;
}

h1 {
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

nav a {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    color: #000000;
    display: inline-block;
    margin: 4%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 15%;
}

.active {
    background-color: #FFFFFF;
}

.left {
    background-color: #777613;
    display: inline-block;
    float: left;
    height: 100%;
    margin: 0 auto;
    width: 20%;
}

.right {
    display: inline-block;
    padding: 1%;
    width: 75%;
}

img {
    border: 1px solid #000000;
    display: block;
    margin: 32px auto;
    width: 80%;
}
